<% provide(:title, 'Reset password') %>

<div class="col-sm-offset-4 col-sm-4">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h4><span class="glyphicon glyphicon-lock"></span>重置密码</h4>
    </div>
    <div class="panel-body">

      <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
          <%= render 'shared/error_messages',object: f.object %>
          <%= hidden_field_tag :email, @user.email %>
          <div class="form-group">
            <%= f.label :password, "输入新密码" %>
            <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
              <%= f.passsword_field :password, class: 'form-control', placeholder: "新密码" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, "确认新密码" %>
            <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
              <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "新密码" %>
            </div>
          </div>

          <%= button_tag(type: "submit", class: "btn btn-success btn-block") do %>
              <span class="glyphicon glyphicon-zoom-in"></span>更新密码
          <% end %>
      <% end %>
    </div>
  </div>
</div>
